.idea/
Lib/
Scripts/
SAD_DATA/
magenta/
HAPPY_DATA/
MusiColorFlask/.idea/
MusiColorFlask/charts/
MusiColorFlask/static/*
!MusiColorFlask/static/assets/
!MusiColorFlask/static/result
MusiColorFlask/tmp/
__pycache__/
DetectColors/__pycache__/
venv/
magenta/
