<!doctype html>
<html>
  <head>
    <title>MusiColorAI</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>
  <body>
    <h1>MusiColor AI</h1>
    <form method="POST" action="" enctype="multipart/form-data">
		<p>
			<input id="img-source" type="file" accept="image/jpeg" name="file">
			<label for="img-source" class="custom-file-upload">Wybierz plik (tylko jpg)</label>
			<div id="img-preview"></div>
		</p>
		<br>
		<p>
			<input id="send-button" type="submit" value="Prześlij" name="send-button">
			<label for="send-button" class="custom-file-upload">Prześlij</label>
		</p>
    </form>

  </body>
</html>