<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MusiColorAI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v2.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a>MusiColor<span style="color: #2dc7fb">A</span><span style="color: #ed239f">I</span></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#services" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>See the sounds.<br/>Hear the colors.</h1>
          <h2>Our app allows you to experience the music created by colors.</h2>
          <div class="d-lg-flex">
            <a href="#services" class="btn-get-started scrollto pb-2">Get Started</a>
            <a href="https://youtu.be/XQZKXCWu090" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/assets/img/logo.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
           <a target="_blank" rel="noopener noreferrer" href="https://www.python.org/">
             <img src="../static/assets/img/logos/logo-1.png" class="img-fluid" alt="">
           </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://magenta.tensorflow.org/">
              <img src="../static/assets/img/logos/logo-2.png" class="img-fluid" alt="">
             </a>
          </div>


          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://www.tensorflow.org/">
            <img src="../static/assets/img/logos/logo-3.png" class="img-fluid" alt="">
              </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://flask.palletsprojects.com/en/1.1.x/">
            <img src="../static/assets/img/logos/logo-4.png" class="img-fluid" alt="">
                 </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://global.abb/group/en">
            <img src="../static/assets/img/logos/logo-5.png" class="img-fluid" alt="">
                 </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://www.uni.lodz.pl/">
            <img src="../static/assets/img/logos/logo-6.png" class="img-fluid" alt="">
                 </a>
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Each color affects human emotions differently, so it is important to choose the right colors when painting a picture.
              Our app allows you to experience the music created by colors.
              <br/>The color palette's emotions are based on three scales:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Heat: Specifies the level of colors’ cheerfulness</li>
              <li><i class="ri-check-double-line"></i> Activity: Specifies the level of colors’ intensity</li>
              <li><i class="ri-check-double-line"></i> Weight: Defines the key of the generated music </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We use 2 models to generate melodies that allow us to create both happy and sad soundtracks.
                In the future, we plan to create additional models that will allow us to generate different music genres.
            </p>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/WiktorJakobczyk/MusiColorAI" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section class="services section-bg h-100">
		<a id="services" style="display: block; position: relative; top: -62px; visibility: hidden;"></a>
		<div class="container" data-aos="fade-up">
        <div class="section-title">
			<h2 id="get_started">Get Started</h2>
			<p>
				To upload a jpg file, click the file
				<span style="color: #2dc7fb">Browse</span>
				button. You can only upload .jpg files. Then click the
				<span style="color: #ed239f">Generate music</span>
				button and wait for the result.
			</p>
        </div>
        <div class="icon-box">
        <div class="container py-5">
		<div class="row py-4">
        <div class="col-lg-6 mx-auto">
		<form id="form" method="POST" action="" enctype="multipart/form-data">
            <!-- Upload image input-->
			<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
				<div class="custom-file">
					<input oninput="document.getElementById('get_started').scrollIntoView({ behavior: 'smooth', block: 'start'});" id="upload" type="file" class="form-control border-0" accept=".jpg, .png" name="file">
					<label id="upload-label" type="file" for="upload" class="font-weight-light text-muted">Choose file</label>
				</div>
                <div class="input-group-append align-bottom">
                    <label id="inputBtn"  for="upload" class="get-uplo-btn mb-0 border-0" role="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
							<path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
						</svg>
						<small class="text-uppercase font-weight-bold">Browse</small>
					</label>
                </div>
            </div>
		</form>
            <!-- Uploaded image area-->
<!--            <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>-->
            <div id="image-areaId" class="image-area mt-4">
				<img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block align-content-center align-items-center">
				<div class="get-gen-btn align-self-center border-0"  id="submitBtn">
					<button id="uploadBtn" class="form-control border-0 bg-transparent btn btn-primary shadow-none" value="Submit">Generate music</button>
				</div>
				
            </div>
        </div>
		</div>
		<div id="test" class="row pb-5 scrollto">
		</div>
		</div>
        </div>
		</div>
    </section><!-- End Services Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Computer science students at the University of Lodz in cooperation with ABB (Asea Brown Boveri).<br/>
		  Project created as part of the "Sztuczna Inteligencja w Muzyce" classes.</p>
        </div>

        <div class="row d-flex justify-content-center ">

             <div class="col" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="../static/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Miłosz<br/>Kołodziejski</h4>
                  <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/milosz.kolodziejski"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mi%C5%82osz-ko%C5%82odziejski-5691a9202/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

              <div class="col" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="../static/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Wiktor<br/>Jakóbczyk</h4>
                <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/wiktor.jakobczyk.5"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/wiktor-jakobczyk99"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

              <div class="col" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mateusz<br/>Borowiec</h4>
                <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/mateusz.borowiec.965"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>


    <div class="col" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../static/assets/img/team/team-4.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Przemysław<br/>Zakrzewski</h4>
                <span>Head of Corporate Technology<br/>Center at ABB</span>
                <div class="social">
<!--                  <a target="_blank" rel="noopener noreferrer" href=""><i class="ri-facebook-fill"></i></a>-->
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/przemyslaw-zakrzewski-a971326/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

            <div class="col" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../static/assets/img/team/team-5.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Marcin<br/>Piotrowski</h4>
                <span>Principal Software Developer,<br/>Group Leader at ABB</span>
                <div class="social">
<!--                  <a target="_blank" rel="noopener noreferrer" href=""><i class="ri-facebook-fill"></i></a>-->
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/marcin-piotrowski-6916b715/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
      </div>


      </div>
    </section><!-- End Team Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>

        </div>

       <div class="row d-flex justify-content-center ">



          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>MusiColorAI</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Logo designed by <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/may.genta/"> <span style="color: #ed239f">MAYGENTA</span></a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>