<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MusiColorAI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v2.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a>MusiColor<span style="color: #2dc7fb">A</span><span style="color: #ed239f">I</span></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#services" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>See the sounds.<br/>Hear the colors.</h1>
          <h2>Our app allows you to experience the music created by colors.</h2>
          <div class="d-lg-flex">
            <a href="#services" class="btn-get-started scrollto pb-2">Get Started</a>
            <a href="https://youtu.be/XQZKXCWu090" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/assets/img/logo.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
           <a target="_blank" rel="noopener noreferrer" href="https://www.python.org/">
             <img src="../static/assets/img/logos/logo-1.png" class="img-fluid" alt="">
           </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://magenta.tensorflow.org/">
              <img src="../static/assets/img/logos/logo-2.png" class="img-fluid" alt="">
             </a>
          </div>


          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://www.tensorflow.org/">
            <img src="../static/assets/img/logos/logo-3.png" class="img-fluid" alt="">
              </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://flask.palletsprojects.com/en/1.1.x/">
            <img src="../static/assets/img/logos/logo-4.png" class="img-fluid" alt="">
                 </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://global.abb/group/en">
            <img src="../static/assets/img/logos/logo-5.png" class="img-fluid" alt="">
                 </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a target="_blank" rel="noopener noreferrer" href="https://www.uni.lodz.pl/">
            <img src="../static/assets/img/logos/logo-6.png" class="img-fluid" alt="">
                 </a>
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Each color affects human emotions differently, so it is important to choose the right colors when painting a picture.
              Our app allows you to experience the music created by colors.
              <br/>The color palette's emotions are based on three scales:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Heat: Specifies the level of colors’ cheerfulness</li>
              <li><i class="ri-check-double-line"></i> Activity: Specifies the level of colors’ intensity</li>
              <li><i class="ri-check-double-line"></i> Weight: Defines the key of the generated music </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We use 2 models to generate melodies that allow us to create both happy and sad soundtracks.
                In the future, we plan to create additional models that will allow us to generate different music genres.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
<!--    <section id="why-us" class="why-us section-bg">-->
<!--      <div class="container-fluid" data-aos="fade-up">-->

<!--        <div class="row">-->

<!--          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">-->

<!--            <div class="content">-->
<!--              <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>-->
<!--              <p>-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit-->
<!--              </p>-->
<!--            </div>-->

<!--            <div class="accordion-list">-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--                <li>-->
<!--                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--                <li>-->
<!--                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--              </ul>-->
<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../static/assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Why Us Section &ndash;&gt;-->

    <!-- ======= Skills Section ======= -->
<!--    <section id="skills" class="skills">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="row">-->
<!--          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">-->
<!--            <img src="../static/assets/img/skills.png" class="img-fluid" alt="">-->
<!--          </div>-->
<!--          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">-->
<!--            <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>-->
<!--            <p class="font-italic">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--              magna aliqua.-->
<!--            </p>-->

<!--            <div class="skills-content">-->

<!--              <div class="progress">-->
<!--                <span class="skill">HTML <i class="val">100%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">CSS <i class="val">90%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">JavaScript <i class="val">75%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">Photoshop <i class="val">55%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Skills Section &ndash;&gt;-->

    <!-- ======= Services Section ======= -->
    <section class="services section-bg h-100">
		<a id="services" style="display: block; position: relative; top: -62px; visibility: hidden;"></a>
		<div class="container" data-aos="fade-up">
        <div class="section-title">
			<h2 id="get_started">Get Started</h2>
			<p>
				To upload a jpg file, click the file
				<span style="color: #2dc7fb">Browse</span>
				button. You can only upload .jpg files. Then click the
				<span style="color: #ed239f">Generate music</span>
				button and wait for the result.
			</p>
        </div>
        <div class="icon-box">
        <div class="container py-5">
		<div class="row py-4">
        <div class="col-lg-6 mx-auto">
		<form id="form" method="POST" action="" enctype="multipart/form-data">
            <!-- Upload image input-->
			<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
				<div class="custom-file">
					<input oninput="document.getElementById('get_started').scrollIntoView({ behavior: 'smooth', block: 'start'}); console.log('oninput upload event working')" id="upload" type="file" class="form-control border-0" accept="image/jpeg" name="file">
					<label id="upload-label" type="file" for="upload" class="font-weight-light text-muted">Choose file</label>
				</div>
                <div class="input-group-append align-bottom">
                    <label id="inputBtn"  for="upload" class="get-uplo-btn mb-0 border-0" role="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
							<path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
						</svg>
						<small class="text-uppercase font-weight-bold">Browse</small>
					</label>
                </div>
            </div>
		</form>
            <!-- Uploaded image area-->
<!--            <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>-->
            <div id="image-areaId" class="image-area mt-4">
				<img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block align-content-center align-items-center">
				<div class="get-gen-btn align-self-center border-0"  id="submitBtn">
					<button id="uploadBtn" class="form-control border-0 bg-transparent btn btn-primary shadow-none" value="Submit">Generate music</button>
				</div>
				
            </div>
        </div>
		</div>
		<div id="test" class="row pb-5 scrollto">
		</div>
		</div>
        </div>
		</div>
    </section><!-- End Services Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Computer science students at the University of Lodz in cooperation with ABB (Asea Brown Boveri).<br/>
		  Project created as part of the "Sztuczna Inteligencja w Muzyce" classes.</p>
        </div>

        <div class="row d-flex justify-content-center ">

             <div class="col-sm-4" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="../static/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Miłosz<br/>Kołodziejski</h4>
                  <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/milosz.kolodziejski"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mi%C5%82osz-ko%C5%82odziejski-5691a9202/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

              <div class="col-sm-4" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="../static/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Wiktor<br/>Jakóbczyk</h4>
                <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/wiktor.jakobczyk.5"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/wiktor-jakobczyk99"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

              <div class="col-sm-4" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mateusz<br/>Borowiec</h4>
                <span>Student<br/>Software Developer</span>
                <div class="social">
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/mateusz.borowiec.965"><i class="ri-facebook-fill"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>


    <div class="col-sm-5" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../static/assets/img/team/team-4.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Przemysław<br/>Zakrzewski</h4>
                <span>Head of Corporate Technology<br/>Center at ABB</span>
                <div class="social">
<!--                  <a target="_blank" rel="noopener noreferrer" href=""><i class="ri-facebook-fill"></i></a>-->
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/przemyslaw-zakrzewski-a971326/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

            <div class="col-sm-5" style="margin-top:30px">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../static/assets/img/team/team-5.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Marcin<br/>Piotrowski</h4>
                <span>Principal Software Developer,<br/>Group Leader at ABB</span>
                <div class="social">
<!--                  <a target="_blank" rel="noopener noreferrer" href=""><i class="ri-facebook-fill"></i></a>-->
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/marcin-piotrowski-6916b715/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
      </div>


      </div>
    </section><!-- End Team Section -->

<!--    &lt;!&ndash; ======= Pricing Section ======= &ndash;&gt;-->
<!--    <section id="pricing" class="pricing">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Pricing</h2>-->
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
<!--        </div>-->

<!--        <div class="row">-->

<!--          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="box">-->
<!--              <h3>Free Plan</h3>-->
<!--              <h4><sup>$</sup>0<span>per month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>-->
<!--                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>-->
<!--              </ul>-->
<!--              <a href="#" class="buy-btn">Get Started</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="box featured">-->
<!--              <h3>Business Plan</h3>-->
<!--              <h4><sup>$</sup>29<span>per month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>-->
<!--                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--              </ul>-->
<!--              <a href="#" class="buy-btn">Get Started</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="box">-->
<!--              <h3>Developer Plan</h3>-->
<!--              <h4><sup>$</sup>49<span>per month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>-->
<!--                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--              </ul>-->
<!--              <a href="#" class="buy-btn">Get Started</a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Pricing Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Frequently Asked Questions Section ======= &ndash;&gt;-->
<!--    <section id="faq" class="faq section-bg">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Frequently Asked Questions</h2>-->
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
<!--        </div>-->

<!--        <div class="faq-list">-->
<!--          <ul>-->
<!--            <li data-aos="fade-up" data-aos-delay="100">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">-->
<!--                <p>-->
<!--                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="200">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="faq-list-2" class="collapse" data-parent=".faq-list">-->
<!--                <p>-->
<!--                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="300">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="faq-list-3" class="collapse" data-parent=".faq-list">-->
<!--                <p>-->
<!--                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="400">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="faq-list-4" class="collapse" data-parent=".faq-list">-->
<!--                <p>-->
<!--                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--            <li data-aos="fade-up" data-aos-delay="500">-->
<!--              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--              <div id="faq-list-5" class="collapse" data-parent=".faq-list">-->
<!--                <p>-->
<!--                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Frequently Asked Questions Section &ndash;&gt;-->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>

        </div>

       <div class="row d-flex justify-content-center ">



          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Arsha</h3>-->
<!--            <p>-->
<!--              A108 Adam Street <br>-->
<!--              New York, NY 535022<br>-->
<!--              United States <br><br>-->
<!--              <strong>Phone:</strong> +1 5589 55488 55<br>-->
<!--              <strong>Email:</strong> info@example.com<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Social Networks</h4>-->
<!--            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>-->
<!--            <div class="social-links mt-3">-->
<!--              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>MusiColorAI</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Logo designed by <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/may.genta/"> <span style="color: #ed239f">MAYGENTA</span></a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>